@model Clinica.Web.Models.ProfesionalCentroMedico

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>ProfesionalCentroMedico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfesionalCentroMedicoId">Editar</a> |
    <a asp-action="Index">Volver a Listado</a>
</div>
