@model Clinica.Web.Models.Tarifa

@{
    ViewData["Title"] = "Create";
}

<h2>Crear</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Tarifa</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CentroMedicoId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CentroMedicoId" class ="form-control" asp-items="ViewBag.CentroMedicoId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CitaTipoId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CitaTipoId" class ="form-control" asp-items="ViewBag.CitaTipoId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Estado" />
                    <label asp-for="Estado"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PacienteCategoriaId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PacienteCategoriaId" class ="form-control" asp-items="ViewBag.PacienteCategoriaId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Precio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver a Listado</a>
</div>

