@model Clinica.Web.Models.Cita

@{
    ViewData["Title"] = "Create";
}

<h2>Crear</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Cita</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CentroMedicoId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CentroMedicoId" class ="form-control" asp-items="ViewBag.CentroMedicoId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CitaEstadoId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CitaEstadoId" class ="form-control" asp-items="ViewBag.CitaEstadoId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CitaTipoId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CitaTipoId" class ="form-control" asp-items="ViewBag.CitaTipoId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descripcion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FechaRegistra" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FechaRegistra" class="form-control" />
                <span asp-validation-for="FechaRegistra" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fin" class="form-control" />
                <span asp-validation-for="Fin" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Inicio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Inicio" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Observacion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Observacion" class="form-control" />
                <span asp-validation-for="Observacion" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PacienteId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PacienteId" class ="form-control" asp-items="ViewBag.PacienteId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Precio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProfesionalId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProfesionalId" class ="form-control" asp-items="ViewBag.ProfesionalId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsuarioRegistra" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsuarioRegistra" class="form-control" />
                <span asp-validation-for="UsuarioRegistra" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver a Listado</a>
</div>

