

@model IEnumerable<Clinica.Web.Models.Profesional>

@{
    ViewData["Title"] = "Index";
}

<h2>Listado</h2>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>

<div id="grid"></div>

@section StylesHead{
    @{await Html.RenderPartialAsync("_ViewImportsKendoStyles");}
}

@section scripts{
    @{ await Html.RenderPartialAsync("_ViewImportsKendoScripts");}
    <script src="~/js/profesionales/index.js"></script>
}