@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Clínica Cibertec Core</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenidos a Clínica Cibertec</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum quam id orci vestibulum, quis ultrices nibh commodo. 
            Nam tristique ultrices tincidunt. Curabitur aliquam tempor sodales.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Registrar Paciente</h2>
        <p>In venenatis eget sapien vel suscipit. Etiam tristique tristique diam gravida tincidunt.</p>
        <p><a class="btn btn-primary" href="~/Paciente">Registrar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Agendar Cita</h2>
        <p>Nunc condimentum libero enim, id tristique lectus fermentum sed.</p>
        <p><a class="btn btn-primary" href="~/Cita">Agendar Cita &raquo;</a></p>
    </div>
</div>
